body{
    background-color: black;
    /* margin-left: 28.5px;
    margin-right: 28.5px; */
}
.bigSquares{
    background-color: white;
    width: 600px;
    height: 600px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
/* .center{
    margin-left:0;
    margin-right: 0;
    border: 2px solid black;
} */

.firstLine{
    width: 100%;
    height: 200px;
    background-color: white;
}
.secondLine{
    width: 100%;
    height: 200px;
    background-color: white;
}
.thirdLine{
    width: 100%;
    height: 200px;
    background-color: white;
}
.mediumSquare{
    height: 150px;
    width: 150px;
    margin: 20px;
    padding: 0;
    background-color: black;
    position: relative;
    display: inline-block;
}
.mediumSquareL{ 
    height: 150px;
    width: 150px;
    margin: 20px;
    padding: 0;
    background-color: black;
    position: relative;
    display: inline-block;
}
.mediumSquareR{
    height: 150px;
    width: 150px;
    margin: 20px;
    padding: 0;
    background-color: black;
    position: relative;
    display: inline-block;
}
.smallSquareLTop{
    width: 50px;
    height: 50px;
    background-color: grey;
}
.smallSquareRTop{
    width: 50px;
    height: 50px;
    background-color: blue;
    position: absolute;
    left: 100px;
    top: 0;
}
.smallSquareTop{
    width: 50px;
    height: 50px;
    background-color: pink;
    position: absolute;
    left: 50px
}
.smallSquareL{
    width: 50px;
    height: 50px;
    background-color: green;
    position: absolute;
    left: 0px;
}
.smallSquareLCenter{
    width: 50px;
    height: 50px;
    background-color: gray;
    position: absolute;
    top: 50px;
}
.smallSquareCenter{
    width: 50px;
    height: 50px;
    background-color: pink;
    position: absolute;
    left: 50px;
    top: 50px;
}
.smallSquareRCenter{
    width: 50px;
    height: 50px;
    background-color: green;
    position: absolute;
    left: 100px;
    top: 50px;
}
